<h1>{{ _('Hello %(username)s,', username=user.username) }}</h1>
<p>

    {{ _('Follow this link to') }}
    <a href="{{ url_for('auth.reset_password', token=token, _external=True) }}">
        {{ _('reset your password.') }}
    </a>
</p>
<p>{{ _("Alternatively, you can paste the following link in your browser's address bar:") }}</p>
<p>{{ url_for('auth.reset_password', token=token, _external=True) }}</p>
<p>{{ _('If you have not requested a password reset, ignore this message.') }}</p>
<p>{{ _('Thanks,') }}</p>
<p>Jessica</p>
