<!-- This is a sub-template -->
<div class="post">
    <a href="{{ url_for('main.user', username=post.author.username) }}" class="avatar pop">
        <img src="{{ post.author.avatar(200) }}" class="avatar_mini">
    </a>
    <p>
        <a href="{{ url_for('main.user', username=post.author.username) }}" class="pop">
                {{ post.author.username.title() }}
        </a>:

        <!-- In order to identify posts that will be passed via JavaScript to
        the route that handles the translation API, we need to wrap the content
        with an id. This will assign a unique id to each post with the format
        post1, post2 etc. -->
        <span id="post{{ post.id }}">{{ post.body }}</span>

        <!-- Add a "Translate" link next to any posts that are not in the
        language that is active for the current user. The link will only
        appear on posts for which the language was detected, and this
        language does not match the language selected by the function decorated
        with Flask-Babel's localeselector decorator. (see __init__.py)
        The span tags are used as a placeholder for the translation -->

        {% if post.language and post.language != g.locale %}
        <span class="translation" id="translation{{ post.id }}">
            <a href="javascript:translate(
                        '#post{{ post.id }}',
                        '#translation{{ post.id }}',
                        '{{ post.language }}',
                        '{{ g.locale }}');">{{ _('Translate') }}</a>

        </span>
        {% endif %}

        <p class="post_dates">{{ moment(post.timestamp).fromNow() }}
        {% if current_user != post.author %}
            <a class="mail_tiny" title="send private message" href="{{ url_for('main.send_message', recipient=post.author.username) }}"><i class="fas fa-envelope"></i> Send {{ post.author.username.title() }} a message</a>
        {% endif %}
        </p>
    </p>
    <hr class="clear">

    <div id="pop{{ post.id }}" class="pop" style="display:none;">
        <a href="{{ url_for('main.user', username=post.author.username) }}" class="avatar">
            <img src="{{ post.author.avatar(200) }}" class="avatar_med">
        </a>
        <h2 class="pop__heading">
            <a href="{{ url_for('main.user', username=post.author.username) }}">
                {{ post.author.username.title() }}
            </a>
            <div class="profile_link">
                {% if post.author != current_user %}
                    <a class="mail_small" title="send private message" href="{{ url_for('main.send_message', recipient=post.author.username) }}"><i class="fas fa-envelope"></i></a>
                {% endif %}
                {% if post.author == current_user %}
                    <a class="profile_link_small" href="{{ url_for('main.edit_profile') }}">{{ _('Edit') }}</a>
                {% elif current_user.is_following(post.author) %}
                    <a class="profile_link_small" href="{{ url_for('main.unfollow', username=post.author.username) }}">{{ _('Unfollow') }}</a>
                {% else %}
                    <a class="profile_link_small" href="{{ url_for('main.follow', username=post.author.username) }}">{{ _('Follow') }}</a>
                {% endif %}
            </div>
        </h2>
        <p><strong>{{ _('Followers') }}:</strong> {{ post.author.followers.count() }}</p>
        <p><strong>{{ _('Following') }}:</strong> {{ post.author.following.count() }}</p>

        <hr class="thin-divider">

        <p><strong>{{ _('About me') }}:</strong>
        {% if post.author.about_me %}
           {{ post.author.about_me }}
        {% else %}
           ...
        {% endif %}
         </p>
    </div>

</div>

<script>
// https://github.com/sandywalker/webui-popover
    $('a.pop').webuiPopover({
        trigger:'hover',
        placement:'auto',
        cache:false,
        width:300,
        arrow:true,
        url:'#pop{{ post.id }}'
    });
</script>
