{% extends "base.html" %}

{% block content %}
    <h1>{{ _('What is this?') }}</h1>

    <p>This is microblog! A web application using <a href="https://www.python.org/" target="_blank">Python</a> and the <a href="http://flask.pocoo.org/" target="_blank">Flask</a> framework which I built by following Miguel Grinberg's amazing <a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world" target="_blank">Flask Mega-Tutorial</a>. Miguel takes a methodical and organized approach to building the application. He takes the time to explain important concepts and clearly describes what each new piece of code is doing. If you're interested in learning Flask, this is by far the best introduction on the web.</p>

    <p>You can find <a href="https://github.com/jessicarush" target="_blank">me</a> and this <a href="https://github.com/jessicarush/microblog" target="_blank">source code</a> on github. Thanks for visting and especially for participating!</p>

    <p>Jessica</p>

{% endblock %}
