{% extends "base.html" %}

{% block content %}
    <h1>{{ _('What is this?') }}</h1>

    {% set python_link %}
        <a href="https://www.python.org/" target="_blank">Python</a>
    {% endset %}

    {% set flask_link %}
        <a href="http://flask.pocoo.org/" target="_blank">Flask</a>
    {% endset %}

    {% set tutorial_link %}
        <a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world" target="_blank">Flask Mega-Tutorial</a>
    {% endset %}

    {% set me_link %}
        <a href="https://github.com/jessicarush" target="_blank">{{ _('me') }}</a>
    {% endset %}

    {% set source_link %}
        <a href="https://github.com/jessicarush/microblog" target="_blank">{{ _('source code') }}</a>
    {% endset %}

    <p>{{ _("This is microblog! A web application using %(python_link)s and the %(flask_link)s framework which I built by following Miguel Grinberg's amazing %(tutorial_link)s. Miguel takes a methodical and organized approach to building the application. He takes the time to explain important concepts and clearly describes what each new piece of code is doing. If you're interested in learning Flask, this is by far the best introduction on the web.", python_link=python_link, flask_link=flask_link, tutorial_link=tutorial_link) }}</p>

    <p>{{ _("You can find %(me_link)s and this %(source_link)s on github. Thanks for visting and especially for participating!", me_link=me_link, source_link=source_link) }}</p>

    <p>Jessica</p>

    <hr class="thin-divider">

    <h1>{{ _('Future features & fixes') }}</h1>

    <p>These are some of the things I hope to integrate and improve over the next year. If you have any ideas, feel free to
        <a title="send a message" href="{{ url_for('main.send_message', recipient='jessica') }}">send me a suggestion.</a>
    </p>
    <ul class="future">
        <li>ability to add links to posts</li>
        <li>ability to add images to posts</li>
        <li>ability to search users</li>
        <li>ability to delete posts</li>
        <li>ability to delete messages</li>
        <li>ability to delete account and <strong>all</strong> associated content</li>
        <li>ability to change password from <em>edit profile</em> page</li>
        <li>remove <em>hover</em> popups on mobile devices by tapping the background</li>
        <li>Work on SPF Records and configure DKIM to avoid password reset emails ending up in junk mail!</li>
        <li>add ability to get, put, post posts via the API</li>
        <li>add instructions for using the API</li>
        <li>ability to see list of followers, following</li>
        <li>move site to zebro.id/microblog</li>

{% endblock %}
