{% extends "base.html" %}

{% block content %}
    {% if recipient == current_user.username %}
    <h1>{{ _('Send a message to yourself') }}</h1>
    {% else %}
    <h1>{{ _('Send a message to %(recipient)s', recipient=recipient.title()) }}</h1>
    {% endif %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.message.label }}<br>
            <!-- Display error message if field empty or exceedes max -->
            {% for error in form.message.errors %}
            <span class="error">{{ error }}</span><br>
            {% endfor %}
            {{ form.message(class="multiple") }}
        </p>
        <p class="button">{{ form.submit(class="button") }}</p>
    </form>

{% endblock %}
