{% extends "base.html" %}

{% block content %}
<div class="profile">
    <h1>{{ _('Profile & posts') }}.</h1>
    <img src="{{ user.avatar(200) }}" class="avatar">
    <h2 class="profile">
        {{ user.username.title() }}
        <div class="profile_link">
            <a class="mail_large" title="send private message" href="{{ url_for('main.send_message', recipient=user.username) }}"><i class="fas fa-envelope"></i></a>
            {% if user == current_user %}
                <a class="profile_link" href="{{ url_for('main.edit_profile') }}">{{ _('Edit') }}</a>
            {% elif current_user.is_following(user) %}
                <a class="profile_link" href="{{ url_for('main.unfollow', username=user.username) }}">{{ _('Unfollow') }}</a>
            {% else %}
                <a class="profile_link" href="{{ url_for('main.follow', username=user.username) }}">{{ _('Follow') }}</a>
            {% endif %}
        </div>
    </h2>
    <p class="single_line_info"><strong>{{ _('Followers') }}:</strong> {{ user.followers.count() }}</p>
    <p class="single_line_info"><strong>{{ _('Following') }}:</strong> {{ user.following.count() }}</p>

    {% if user.last_seen %}
    <p><strong>{{ _('Last visit') }}:</strong>
        {{ moment(user.last_seen).format('LL') }}</p>
    {% endif %}

    <p><strong>{{ _('About me') }}:</strong>
    {% if user.about_me %}
       {{ user.about_me }}
    {% else %}
       ...
    {% endif %}
    </p>


    {% if not current_user.get_task_in_progress('export_posts') %}
    <p class="export">
        <a href="{{ url_for('main.export_posts') }}">
            {{ _('Export your posts (json)') }}
        </a>
    </p>
    {% else %}
    <p class="export inactive_link">{{ _('Export your posts (json)') }}</p>
    {% endif %}

    <hr class="thick">
    {% if user == current_user %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p class="post">
            {{ form.post.label }}<br>
            <!-- Display error message if field empty or exceedes max -->
            {% for error in form.post.errors %}
            <span class="error">{{ error }}</span><br>
            {% endfor %}
            {{ form.post(class="multiple") }}
        </p>
        <p class="button">{{ form.submit(class="button") }}</p>
    </form>
    {% endif %}


    {% for post in posts %}
        <!-- sub-template -->
        {% include '_post.html' %}
    {% endfor %}

    <div class="pagination">
        {% if prev_url %}
            <a href="{{ prev_url }}">{{ _('newer posts') }}</a>
        {% else %}
            <span class="inactive_link">{{ _('newer posts') }}</span>
        {% endif %}
        <span class="separator">&</span>
        {% if next_url %}
            <a href="{{ next_url }}">{{ _('older posts') }}</a>
        {% else %}
            <span class="inactive_link">{{ _('older posts') }}</span>
        {% endif %}
    </div>
</div>
{% endblock %}
